body {
  margin: 0;
  padding: 0;
  background-color: 080823;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 5px 25px;
}
nav li {
  padding: 20px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
}
nav ul li a:hover {
  color: rgb(170, 206, 39);
  transition: 4s;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.btn {
  background-color: white;
  color: 080823;
  font-weight: bold;
  border: 2px solid transparent;
  padding: 5px 50px;
  margin-top: 30px;
  text-decoration: none;
  border-radius: 30px;
  transition: transform 0.4s;
}
.btn:hover {
  transform: scale(1.2s);
}

.aboutme {
  width: 100%;
  padding: 78px 0;
}
.aboutme img {
  height: auto;
  width: 420px;
}
.aboutme-text {
  width: 550px;
  color: white;
}
.main {
  width: 1130;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.aboutme-text h1 {
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.aboutme-text h5 {
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px;
}
.aboutme-text p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 45px;
  letter-spacing: 1px;
}
button {
  background-color: burlywood;
  color: 080823;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 15px;
  font-weight: bold;
  padding: 13px 30px;
}
.footer {
  color: #080823;
  background-color: #fff;
  font-size: 30px;
  font-weight: 700px;
  padding: 15px 20px;
}
.footer ul {
  display: flex;
  align-items: center;
}
.footer ul li {
  list-style-type: none;
  display: inline-block;
  padding: 20px 25px 0 20px;
  margin-left: 200px;
  font-size: 30px;
}

.footer img {
  height: 30px;
}
