body {
  margin: 0;
  padding: 0;
  background-color: 080823;
}
#blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
.blog_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blog_header span {
  color: white;
}
.blog_header h3 {
  color: white;
  font-weight: 700;
}
.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
}
.blog-box {
  width: 400px;
  background-color: white;
  margin: 30px;
}
.blog-img{
    width: 100%;
    height: auto;
}
.blog-img img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color:black;
}
.blog-text a{
    
    color: blue;
}
.blog-text .blog-title{
    font-weight: 400;
    color: lawngreen;
    transition: all ease 0.3s;
}
.blog-text p{
    color: 080823;
    font-size: 0.9rem;
    margin: 20px 0;
}
.blog-text a{
    color:080823 ;
}
.blog-text a:hover{
    color: red;
    transition: all ease 0.3s;
}
@media(max-width:1250px){
    .blog-box{
        width: 300px;
    }
}
@media(max-width:1100px){
    .blog-box{
        width: 70%;
    }
}
@media(max-width:550px){
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
}
#blog{
    padding: 20px;
}