* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: 080823;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 20px 25px;
}
nav li {
  padding: 20px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
}
nav ul li a:hover {
  color: rgb(170, 206, 39);
  transition: 4s;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.btn {
  background-color: white;
  color: 080823;
  font-weight: bold;
  border: 2px solid transparent;
  padding: 10px 50px;
  margin-top: 30px;
  text-decoration: none;
  border-radius: 30px;
  transition: transform 0.4s;
}
.btn:hover {
  transform: scale(1.2s);
}
.container {
  display: flex;
  justify-content: space-between;
}
.text-center {
  padding-top: 100px;
}
.image {
  padding: 100px 400px;
}

.content {
  color: white;
  padding: 300px 0px 0px 300px;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border-radius: 25px;
  height: 500px;
}
.center h1 {
  text-align: center;
  padding: 20px 0;
  color: #080823;
}
.center form {
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field {
  position: relative;
}
.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 15px;
}
.pass {
  margin: -5px 0 20px 5px;
  color: A19797;
  cursor: pointer;
}
.pass:hover {
  text-decoration: underline;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  background-color: 080823;
  border-radius: 10px;
  font-size: 15px;
  color: white;
}
input[type="submit"]:hover {
}
.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 15px;
}
.signup_link a {
  text-decoration: none;
  color: 080823;
}
.signup_link a:hover {
  text-decoration: underline;
}

.field {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  outline: none;
  margin: 10px;
  background-color: f5f5f5;
  border-radius: 5px;
}

.project {
  background-color: white;
}
.project-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 80px;
  grid-gap: 1rem;
  font-size: 1.2rem;
}
.card-project {
  padding: 1rem;
  color: 080823;
  cursor: pointer;
}
.card-project img {
}
.card-project h3 {
  font-size: 30px;
}
.project-title {
  color: 080823;
  font-size: 40px;
  font-weight: 500;
  padding-left: 20px;
}
.card-project {
}

.footer {
  color: #fff;
  background-color: #080823;
  font-size: 30px;
  font-weight: 400px;
  padding: 15px 20px;
}
.footer ul {
  display: flex;
  align-items: center;
}
.footer ul li {
  list-style-type: none;
  display: inline-block;
  padding: 20px 25px 0 20px;
  margin-left: 200px;
  font-size: 30px;
}

.footer img {
  height: 30px;
}
.txt_field span {
  color: red;
  font-size: 17px;
  font-style: italic;
  margin-bottom: 5px;
  padding-bottom: 0;
}
